---
Checks: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -readability-braces-around-statements,
  -modernize-use-nodiscard,
  -modernize-avoid-c-arrays,
  -modernize-return-braced-init-list,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-switch-missing-default-case,
  -modernize-use-nullptr,
  -modernize-deprecated-headers,
  -altera-*
WarningsAsErrors: '*'
HeaderFilterRegex: 'src/.*\.hpp'
...
