---
BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
ColumnLimit: 100
PointerAlignment: Left
ReferenceAlignment: Left
AccessModifierOffset: -2
NamespaceIndentation: None
FixNamespaceComments: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"(.*)"'
    Priority: 1
  - Regex: '^<.*>'
    Priority: 2
  - Regex: '.*'
    Priority: 3
IndentCaseLabels: false
BinPackParameters: true
BinPackArguments: true
Standard: c++17
SortIncludes: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyBlock: false
SpacesBeforeTrailingComments: 1
...
